footer {
    display: flex;
    background-color: #0f172a;
    padding: 25px 10px;
    font-family: var(--poppins);

    div.infoEntr {
        text-align: center;
        color: white;
        // width: 55%;
    }

    div.resSociaux {
        display: flex;
        justify-content: space-around;
        width: 25%;

        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 1120px) {
    footer {
        flex-direction: column;

        div.infoEntr {
            font-size: 0.95rem;
            margin-bottom: 15px;
        }

        div.resSociaux {
            padding: 0px 15%;
            width: calc(100% - 15% * 2);
            margin-top: 15px;

            img {
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
        }
    }
}