// Import de polices d'écritures de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Création de varibles de styles
:root {
    --full-width: 100%;
    --full-height: 100vh;
    --poppins: 'Poppins',
        sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #03264C;
}

//Thème clair et sombre pour le projet
@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

//Import de fichiers styles des composants
// @import url();
@import url(pages/_FicheProduitStyle.scss);
@import url(components/_Footer.scss);
@import url(components/_Header.scss);